<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gestionventasapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionVentasApp"
        tools:targetApi="31">
        <activity
            android:name=".registroactivity"
            android:exported="false" />
        <!-- Activity para el Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <!-- Esta es la actividad que se inicia primero -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity para el Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
    </application>

</manifest>